body {
    font-size: clamp(0.875rem, 0.6932rem + 0.4545vw, 1rem);
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

h3 {
    font-size: 1.25em;
    margin: 0;
}

h4 {
    font-size: 1em;
    margin: 0;
}