body {
    font-size: clamp(0.875rem, 0.6932rem + 0.4545vw, 1rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    color: #fff
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    border-radius: .5em;
    height: 2.5em;
    width: 25em;
}

.loginMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h1 {
    margin-bottom: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    background: #2B64A9;
    border-radius: 2em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.hero-section {
    padding: 5em;
    text-align: center;
}

.hero-section h2 {
    font-size: 3em;
}

.hero-section p {
    margin-top: 1em;
}

.hero-section button {
    font-weight: bold;
    margin-top: 1em;
    background: #2B64A9;
    color: white;
    border: none;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
}

.hero-section button:hover {
    background: #1f4b82;
}

.details {
    background: #2B64A9;
    width: 65vw;
    padding-inline: 1.5em;
    border-radius: 1em;
}

.detail {
    text-align: center;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding-top: 3em;
    padding-bottom: 2em;
}

.detail:hover {
    h2 {
        transform: scale(1.1);
    }
}