body {
    font-size: clamp(0.875rem, 0.6932rem + 0.4545vw, 1rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    color: #fff
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.navbar {
    position: sticky;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}