.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5em);
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 40px;

    & h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    & .form {
        transform: scale(0.9);
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px 30px;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
        backdrop-filter: blur(10px);
    }

    & .form label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.1rem;
        color: #fff;
    }

    & .form input[type="text"] {
        width: 90%;
        padding: 12px;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        margin-bottom: 20px;
        outline: none;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    }

    & a {
        padding: 12px 25px;
        background-color: #3794a3;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    & a:hover {
        background-color: #1b7a89;
    }

    & .camera img {
        /* max-width: 300px; */
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease;

    }

    & #key {
        width: 40%;
    }

    & #testofinale{
        display: none;
    }

    & p{
        text-align: left;
    }
}